{% macro service_status(status, show_name=False, show_warning=False, flood_details=0) -%}
    <span class="status" title="{{ status.name }}">
    {%- if show_warning -%}
        {{ icon("triangle-exclamation") }}
    {%- endif -%}
    {%- if not status -%}
        {{ icon("minus") }}
    {%- elif status.name == "Disconnected" -%}
        {{ icon("pause") }}
    {%- elif status.name == "Crashed" -%}
        {{ icon("bug") }}
    {%- elif status.name == "Starting" -%}
        {{ icon("clock", "regular") }}
    {%- elif status.name == "StartFlood" -%}
        {{ icon("clock-rotate-left") }}
        {%- if flood_details -%}
            &nbsp;{{ flood_details }}
        {%- endif -%}
    {%- elif status.name == "Running" -%}
        {{ icon("check") }}
    {%- endif -%}
    {%- if show_name -%}
        &nbsp;{{ status.name }}
    {%- endif -%}
    </span>
{%- endmacro %}

{% macro icon(icon, category="solid") -%}
    <i class="fa-{{ icon }} fa-{{ category }}"></i>
{%- endmacro %}


{% macro bot_actions(bot) -%}
    <li><a href="{{ url("bot_details", name=bot.name) }}" title="Details">{{ icon("info-circle") }}</a></li>
    {% if bot.is_running %}
        <li><a href="{{ url("bot_stop", name=bot.name) }}" title="Stop">{{ icon("pause-circle", "regular") }}</a></li>
    {% else %}
        <li><a href="{{ url("bot_start", name=bot.name) }}" title="Start">{{ icon("play-circle", "regular") }}</a></li>
    {% endif %}
    <li><a href="{{ url("bot_restart", name=bot.name) }}" title="Reconnect">{{ icon("sync") }}</a></li>
{%- endmacro %}

{% macro route_row(base_url, route) -%}
    <tr>
        <td>
            {% if "{" not in route.path %}
                <a href="{{ base_url }}{{ route.path }}">{{ route.path }}</a>
            {% else %}
                {{ route.path }}
            {% endif %}
        </td>
        <td><code>{{ route.name or ""}}</code></td>
        <td><code>{{ route.handler_name }}</code></td>
    </tr>
    {% for child in route.children %}
        {{ route_row(base_url, child) }}
    {% endfor %}
{%- endmacro %}
