{% extends "admin-base.html" %}

{% from "macros.html" import service_status, bot_actions, route_row %}

{% block content %}
<h1>User</h1>
<table class="table">
    <tr><th>Name</th><td>{{ user.name }}</td></tr>
    <tr><th>Icon</th><td><img src="{{ user.pfp }}" class="profile-pic"/></td></tr>
    {% if user.telegram_username %}
    <tr><th>Username</th><td><a href="https://t.me/{{ user.telegram_username }}">@{{ user.telegram_username }}</td></tr>
    {% endif %}
    <tr><th>ID</th><td>{{ user.telegram_id }}</td></tr>
</table>

<h1>Services</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Class</th>
        </tr>
    </thead>
    <tbody>
        {% for service in services %}
            <tr>
                <td><pre><code>{{ service.name }}</code></pre></td>
                <td>
                    {% if service.runnable %}
                        {{ service_status(service.status) }}
                    {% else %}
                        {{ service_status(None) }}
                    {% endif %}
                </td>
                <td><pre><code>{{ service.__class__.__module__ }}.{{ service.__class__.__name__ }}</code></pre></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h1>Routes</h1>
<details>
    <summary>Routes</summary>
    <table class="table">
        <thead>
            <tr><th>URL</th><th>Name</th><th>Handler</th></tr>
        </thead>
        <tbody>
            {% for route in routes %}
                {{ route_row(http.base_url, route) }}
            {% endfor %}
        </tbody>
    </table>
</details>

<h1>Telegram Bots</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Picture</th>
            <th>Status</th>
            <th>Service</th>
            {% if show_token %}
                <th>Token</th>
            {% endif %}
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for bot in bots %}
            <tr>
                {% if not bot.is_running %}
                    <td>
                        <p>{{ bot.name }}</p>
                    </td>
                    <td></td>
                {% else %}
                    <td>
                        <p>{{ bot.telegram_me.first_name }}</p>
                        <p><a href="{{ bot.telegram_link }}">@{{ bot.telegram_me.username }}</a></p>
                    </td>
                    <td><img src="{{ url("bot_picture", name=bot.name) }}" class="profile-pic"/></td>
                {% endif %}
                <td>{{ service_status(bot.status, False, bot.exception_log, bot.flood_left()) }}</td>
                <td><p>{{ bot.name }}</p><p>{{ bot.__class__.__name__ }}</p></td>
                {% if show_token %}
                    <td style="font-size: small"><pre><code>{{ bot.token }}</code></pre></td>
                {% endif %}
                <td>
                    <ul class="buttons">{{ bot_actions(bot) }}</ul>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
