
/*
 * Ugly defaults so you can see the page from a browser without telgram
 * Only really useful for initial setup / debugging
 */
:root {
    --tg-theme-bg-color: #fff;
    --tg-theme-text-color: #000;
    --tg-theme-link-color: #00f;
    --tg-theme-button-color: #aaf;
    --tg-theme-button-text-color: #fff;
    --tg-theme-secondary-bg-color: #ccf;
}

html {
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    font-family: sans-serif;
}

button {
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: 1px solid var(--tg-theme-button-text-color);
    border-radius: 6px;
    width: 100%;
    padding: 12px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

button:hover, button.active {
    background: var(--tg-theme-button-text-color);
    color: var(--tg-theme-button-color);
    border-color: var(--tg-theme-button-color);
}

main {
    margin: 0 auto;
}

.article-list {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

article {
    background: var(--tg-theme-secondary-bg-color);
    border-radius: 6px;
    margin: 12px;
    padding: 12px;
    width: 100%;
    max-width: 430px;
    box-sizing: border-box;
}

article header {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 12px;
    text-align: center;
}

article section {
    background: var(--tg-theme-bg-color);
    padding: 12px;
    border-radius: 6px;
    margin: 12px 0;
}

article p {
    margin: 6px 0;
}

article th {
    text-align: left;
}

article img {
    width: 100%;
    border-radius: 6px;
}

.buttons {
    display: flex;
    flex-flow: column;
    gap: 6px;
}

form, form section {
    display: flex;
    flex-flow: column;
}

input {
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    border: 1px solid #888;
    border-radius: 3px;
    padding: 3px;
}

input:hover, input:focus {
    border-color: var(--tg-theme-button-color);
}

.error {
    color: #f00;
}

.admin-action {
    display: none
}
